.banner__inner {
	padding-top: 6%;
	padding-left: 10%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.banner__title {
	font-size: 4.5rem;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 0 10px #9146ff, 0 0 20px #9146ff, 0 0 30px #9146ff, 0 0 40px #9146ff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner__slogan {
	font-size: 2.1rem;
	color: #fff;
	margin-bottom: 35px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
